version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    environment:
      - SECRET_KEY=dev_secret_key
      - FLASK_APP=run.py
      - FLASK_DEBUG=1
    volumes:
      - .:/app
